---
const { href = "#", text = "Klik her", type = "laes-mere" } = Astro.props;
---

<a href={href} class={`cta-${type}`}>
  {text}
</a>

<style>
.cta-laes-mere, .cta-send {
  display: inline-block;
  padding: 5px 30px;
  background-color: #0a0a0a;
  color: white;
  text-decoration: none;
  border: 2px solid white;
  border-radius: 50px;
  font-weight: bold;
}

.cta-billetterbilletter, 
.cta-kob-billetter {
  color: #261321;
  padding: 15px 30px;
  font-size: 18px;
  font-weight: 600;
  border: white solid 2px;
  border-radius: 50%;
}

/* hover */
.cta-laes-mere:hover,
.cta-send:hover,
.cta-billetterbilletter:hover,
.cta-kob-billetter:hover {
  background-color: #9B8EFF;
}
</style>
