---
//@ts-nocheck
import Cta from "../components/Cta.astro";
import styles from "../styles/global.css";
---
<div class="introcard">
<div class= "vendertilbage">
<h2>Vender tilbage i 2026</h2>
<p> Billetterne er i salg nu!
Priserne følger med tiden-inflationen på æstetik, alkohol og gebyrer er stadig høj. Til gengæld lover vi, at kvaliteten og oplevelsen følger med. Vi stiller garanti for enorm lykke.

Navnet? Det er nu Høst. Man kan tage festivalen ud af Møn, men ikke Møn ud af festivalen.
Syvende gang på ni år. Intet stopper festen for skønne, støjende fællesskaber på sydlige breddegrader sammen med jer.</p>
</div>
</div>


<style>

.vendertilbage{
    background-color:white;
    opacity: 70%;
    margin: 40px 40px;
    padding: 60px;
}

.vendertilbage p{
    color: black;
    padding: 10px;
    font-family: helvetica, sans-serif;
}

.vendertilbage h2{
    font-family:"unbounded", sans-serif;
}

</style>