---
import Footer from '../components/Footer.astro';

import Menu from "../components/Menu.astro";
const { title} = Astro.props;
---
<!DOCTYPE html>
  <html lang="da">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=BBH+Hegarty&family=Bowlby+One&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Karla:ital,wght@0,200..800;1,200..800&family=Lexend:wght@100..900&family=Montserrat:wght@700&family=News+Cycle:wght@400;700&family=Sora:wght@500&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Unbounded:wght@200..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  </head>

  <style>
  body {
    margin: 0;
    min-height: 100vh;

    background-image: 
      linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
      url("billeder/background.webp");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
</style>
  
  <body>
    <header>
         <Menu />
    </header>

    <main>
      <slot />
    </main>

      <Footer />
  </body>
</html>


