---
import Menu from "../components/Menu.astro";
const { title} = Astro.props;
---
<!DOCTYPE html>
	<html lang="da">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
  </head>
  
	<body>
    <header>
         <Menu />
    </header>

    <main>
      <slot />
    </main>

	    <footer>
      <p>&copy; 2026 Min Hjemmeside</p>
    </footer>
  </body>
</html>
